EDAA01-LTH*.java  linguist-vendored=true
lab1*.java  linguist-vendored=true
lab2*.java  linguist-vendored=true
lab3*.java  linguist-vendored=true
lab4*.java  linguist-vendored=true
Sudoku*.java  linguist-vendored=true



